In [15]:
import pandas as pd

In [16]:
pd.__version__

'2.2.3'

In [18]:
df = pd.read_csv("yellow_tripdata_2024-01.csv", nrows=100)

In [19]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.00,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.00,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.00,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.00,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.00,1.0,16.10,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2024-01-01 00:54:16,2024-01-01 01:27:40,1.0,13.74,1.0,N,239,95,1,56.9,1.0,0.5,13.77,6.94,1.0,82.61,2.5,0.00
96,2,2024-01-01 00:13:58,2024-01-01 00:33:39,1.0,4.20,1.0,N,148,237,1,21.9,1.0,0.5,5.38,0.00,1.0,32.28,2.5,0.00
97,2,2024-01-01 00:35:53,2024-01-01 00:47:59,1.0,1.14,1.0,N,237,233,1,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
98,2,2024-01-01 00:50:28,2024-01-01 01:38:39,1.0,20.34,1.0,N,132,26,1,80.0,1.0,0.5,2.00,0.00,1.0,86.25,0.0,1.75
99,2,2024-01-01 00:18:24,2024-01-01 00:30:39,1.0,2.16,1.0,N,249,232,4,-13.5,-1.0,-0.5,0.00,0.00,-1.0,-18.50,-2.5,0.00

In [7]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("postgresql://postgres:password@localhost:5433/ny_taxi")

In [ ]:
engine.connect()

In the Video, when Alexy read CSV, `tpep_pickup_datetime` is TEXT.
So, he uses `df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)` to
transform into `TIMESTAMP`.

> Update: I just transformed the parquet file into CSV and use that file just to make sure I'm following the video correctly.

In [21]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Outputs `SQL` script to create the table with given connection.

In [22]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

Chunk the size of the data to be inserted into the database.

In [23]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)

In [24]:
df = next(df_iter)

In [25]:
len(df)

100000

In [26]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [28]:
# create the table first 
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [29]:

%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 7.67 s, sys: 127 ms, total: 7.8 s
Wall time: 12.3 s

1000

In [30]:
from time import time

Inserting data chunk by chunk until python raises an error.

In [31]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    t_end = time()

    print("inserted chunk, took %.3f second" % (t_end - t_start))

inserted chunk, took 12.489 second
inserted chunk, took 12.947 second
inserted chunk, took 12.805 second
inserted chunk, took 12.834 second
inserted chunk, took 12.864 second
inserted chunk, took 12.452 second
inserted chunk, took 11.440 second
inserted chunk, took 11.142 second
inserted chunk, took 10.642 second
inserted chunk, took 11.466 second
inserted chunk, took 11.265 second
inserted chunk, took 11.143 second
inserted chunk, took 11.533 second
inserted chunk, took 10.300 second
inserted chunk, took 10.414 second
inserted chunk, took 10.588 second
inserted chunk, took 11.031 second
inserted chunk, took 10.237 second
inserted chunk, took 11.172 second
inserted chunk, took 10.848 second
inserted chunk, took 11.533 second
inserted chunk, took 11.037 second
inserted chunk, took 10.445 second
inserted chunk, took 11.105 second
inserted chunk, took 11.268 second
inserted chunk, took 10.707 second
inserted chunk, took 10.923 second

/tmp/ipykernel_9708/2856273778.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted chunk, took 10.310 second
inserted chunk, took 6.498 second

StopIteration: